services:
  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
      - static_volume:/app/src/staticfiles
  app:
    container_name: app
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.prod
      context: .
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static_volume:/app/src/staticfiles
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - PYTHONPATH=/app/src
  db:
    container_name: db
    restart: unless-stopped
    image: postgres:17.5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    container_name: redis
    image: redis:8.2.2-alpine
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  celery:
    container_name: celery
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.prod
      context: .
    volumes:
      - celery_logs:/app/logs
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis
      - PYTHONPATH=/app/src
    command: sh -c "cd src && celery -A core worker -l info --concurrency=4"
  celery-beat:
    container_name: celery-beat
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.prod
      context: .
    volumes:
      - celery_beat_schedule:/app/schedule
      - celery_logs:/app/logs
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis
      - PYTHONPATH=/app/src
    command: sh -c "cd src && celery -A core beat -l info --schedule=/app/schedule/celerybeat-schedule"
  flower:
    container_name: flower
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.prod
      context: .
    command: celery -A core flower --port=5555 --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD}
    ports:
      - "5555:5555"
    depends_on:
      - celery
      - redis
    environment:
      - REDIS_HOST=redis
      - PYTHONPATH=/app/src



volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  static_volume:
    driver: local
  celery_logs:
    driver: local
  celery_beat_schedule:
    driver: local