{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile - Property Management System{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card shadow-lg">
          <div class="card-header bg-primary p-4">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h3 class="text-white mb-0">User Profile</h3>
                <p class="text-white opacity-8 mb-0">Manage your account information</p>
              </div>
              <div class="col-md-4 text-end">
                <i class="fa fa-user-circle text-white opacity-8" style="font-size: 4rem;"></i>
              </div>
            </div>
          </div>
          <div class="card-body p-4">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h5 class="font-weight-bolder">Account Information</h5>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Email</label>
                      <p class="form-control">{{ user.email }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Role</label>
                      <p class="form-control">{{ role_name }}</p>
                    </div>
                  </div>
                </div>

                {% if profile_data %}
                <div class="mb-4 mt-4">
                  <h5 class="font-weight-bolder">Personal Information</h5>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Name</label>
                      <p class="form-control">{{ profile_data.name }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Contact Information</label>
                      <p class="form-control">{{ profile_data.contact_info }}</p>
                    </div>
                  </div>
                </div>
                {% endif %}

                <div class="d-flex justify-content-end mt-4">
                  <button type="button" class="btn bg-gradient-primary mb-0">Edit Profile</button>
                  <a href="{% url 'password_change' %}" class="btn bg-gradient-info mb-0 ms-2">
                    <i class="fas fa-key me-2"></i>Change Password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
