{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password - Property Management System{% endblock %}

{% block body_class %}{% endblock %}

{% block navbar %}
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid pe-0">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="{% url 'dashboard' %}">
            Property Management System
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2" href="{% url 'dashboard' %}">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'profile' %}">
                  <i class="fa fa-user opacity-6 text-dark me-1"></i>
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'register' %}">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Sign Up
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'login' %}">
                  <i class="fas fa-key opacity-6 text-dark me-1"></i>
                  Sign In
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
          <div class="card card-plain mt-8">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-info text-gradient">Change your password</h3>
              <p class="mb-0">Enter your current password and choose a new one</p>
            </div>
            <div class="card-body">
              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ form.non_field_errors|striptags }}
                </div>
              {% endif %}
              <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                {% for field in form %}
                  <label>{{ field.label }}</label>
                  <div class="mb-3">
                    {{ field }}
                    {% if field.errors %}
                      <div class="text-danger small">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="text-center d-flex justify-content-between">
                  <a href="{% url 'profile' %}" class="btn btn-light w-50 me-2">Cancel</a>
                  <button type="submit" class="btn bg-gradient-info w-50 ms-2">Update Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static "core/img/curved-images/curved6.jpg" %}')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
